<div class="modal-content">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Evento</h1>
    <button
      type="button"
      class="btn-close"
      (click)="close('')"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="eventoForm">
      <p class="text-danger">{{ eventoError }}</p>
      <div class="mb-3">
        <label for="descriptionInput" class="form-label">Descripción</label>
        <input
          formControlName="description"
          class="form-control"
          id="descriptionInput"
          aria-describedby="descriptionHelp"
          [ngClass]="{
            'is-invalid':
              (description.dirty || description.touched) && description.invalid,
            'is-valid': !description.invalid
          }"
        />
        <div
          *ngIf="
            description.invalid && (description.dirty || description.touched)
          "
          class="invalid-feedback"
        >
          <div *ngIf="description.errors?.['required']">
            La descripcion es requerida
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="descriptionInput" class="form-label">Imagen</label>
        <input
          formControlName="image"
          class="form-control"
          id="imageInput"
          aria-describedby="imageHelp"
          [ngClass]="{
            'is-invalid': (image.dirty || image.touched) && image.invalid,
            'is-valid': !image.invalid
          }"
        />
        <div
          *ngIf="image.invalid && (image.dirty || image.touched)"
          class="invalid-feedback"
        >
          <div *ngIf="image.errors?.['required']">
            La URL de la imagen es requerida
          </div>
        </div>
        <div *ngIf="image.valid">
          <img [src]="image.value" alt="Imagen" class="img-thumbnail mt-2" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-8">
          <label for="fechaIniInput" class="form-label">Fecha Inicio</label>
          <div class="input-group">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              formControlName="fechaIni"
              ngbDatepicker
              [minDate]="minDate!"
              #d="ngbDatepicker"
              [ngClass]="{
                'is-invalid':
                  (fechaIni.dirty || fechaIni.touched) && fechaIni.invalid,
                'is-valid': !fechaIni.invalid
              }"
            />
            <button
              class="btn btn-outline-secondary bi bi-calendar3"
              (click)="d.toggle()"
              type="button"
            ></button>
            <div
              *ngIf="fechaIni.invalid && (fechaIni.dirty || fechaIni.touched)"
              class="invalid-feedback"
            >
              <div *ngIf="fechaIni.errors?.['required']">
                La fecha de inicio es requerida
              </div>
              <div *ngIf="!fechaIni.errors?.['required']">
                Ingrese una fecha válida
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <label for="horaIniInput" class="form-label">Hora Inicio</label>
          <ngb-timepicker
            class="timePicker"
            formControlName="horaIni"
            [spinners]="false"
            [ngClass]="{
              'is-invalid':
                (horaIni.dirty || horaIni.touched) && horaIni.invalid,
              'is-valid': !horaIni.invalid
            }"
          />
          <div
            *ngIf="horaIni.invalid && (horaIni.dirty || horaIni.touched)"
            class="invalid-feedback"
          >
            <div *ngIf="horaIni.errors?.['required']">
              La hora de inicio es requerida
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-8">
          <label for="fechaFinInput" class="form-label">Fecha Fin</label>
          <div class="input-group">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              formControlName="fechaFin"
              ngbDatepicker
              [minDate]="minDate!"
              #d1="ngbDatepicker"
              [ngClass]="{
                'is-invalid':
                  (fechaFin.dirty || fechaFin.touched) && fechaFin.invalid,
                'is-valid': !fechaFin.invalid
              }"
            />
            <button
              class="btn btn-outline-secondary bi bi-calendar3"
              (click)="d1.toggle()"
              type="button"
            ></button>
            <div
              *ngIf="fechaFin.invalid && (fechaFin.dirty || fechaFin.touched)"
              class="invalid-feedback"
            >
              <div *ngIf="fechaFin.errors?.['required']">
                La fecha de fin es requerida
              </div>
              <div *ngIf="!fechaFin.errors?.['required']">
                Ingrese una fecha válida
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <label for="horaFinInput" class="form-label">Hora Fin</label>
          <ngb-timepicker
            class="timePicker"
            formControlName="horaFin"
            [spinners]="false"
            [ngClass]="{
              'is-invalid':
                (horaFin.dirty || horaFin.touched) && horaFin.invalid,
              'is-valid': !horaFin.invalid
            }"
          />
          <div
            *ngIf="horaFin.invalid && (horaFin.dirty || horaFin.touched)"
            class="invalid-feedback"
          >
            <div *ngIf="horaFin.errors?.['required']">
              La hora de fin es requerida
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-bs-dismiss="modal"
      (click)="close('')"
    >
      Cerrar
    </button>
    <button type="button" class="btn btn-primary" (click)="addOrUpdate()">
      Guardar
    </button>
  </div>
</div>
