@media (min-width: 576px) {
  .responsive-input-group {
    width: 100%;
    max-width: 400px;
  }
}

@media (max-width: 576px) {
  .responsive-input-group {
    min-width: 350px;
  }
}

@media (max-width: 350px) {
  .responsive-input-group {
    min-width: 0px;
  }
}
