<div class="container-sm" style="max-width: 1200px">
  <p>
    Nota: Las competencias disponibles serán las competencias disponibles para
    poder inscribirse (2 dias antes de la fecha de inicio)
  </p>
  <p class="text-danger">{{ errorMessage }}</p>
  <div class="d-flex justify-content-between">
    <button class="btn btn-primary mx-1" (click)="openModal(voidCompetition)">
      <i class="bi bi-plus"></i>
      Competencia
    </button>
    <div class="dropdown">
      <button
        class="btn btn-outline-primary dropdown-toggle mx-1"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ tipoLista }}
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" (click)="getCompetitions('Próximos')"
            >Próximos</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            (click)="getCompetitions('Inscripción Abierta')"
            >Inscripción Abierta</a
          >
        </li>
        <li>
          <a class="dropdown-item" (click)="getCompetitions('Todos')">Todos</a>
        </li>
      </ul>
    </div>
    <div class="input-group mx-1" style="max-width: 400px">
      <input
        type="text"
        class="form-control"
        aria-describedby="inputGroup-sizing-sm"
        [(ngModel)]="terminoBusqueda"
        placeholder="Buscar..."
      />
    </div>
  </div>
  <div class="d-flex align-items-stretch flex-wrap justify-content-center mt-3">
    <div
      class="card m-1"
      style="width: 375px"
      *ngFor="let competition of competitionsList | filter : terminoBusqueda"
    >
      <div class="card-header">
        <h5 class="card-title">
          {{ competition.competitionType.description }}
        </h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          {{ competition.evento.description }}
        </h6>
      </div>
      <div class="card-body">
        <p class="card-text fw-medium mb-0">Fecha y Hora inicio</p>
        <div class="row">
          <p class="card-text col-6">
            Fecha: {{ getFecha(competition.fechaHoraIni) }}
          </p>
          <p class="card-text col-6">
            Hora: {{ getHora(competition.fechaHoraIni) }}
          </p>
        </div>
        <p class="card-text fw-medium mb-0">Fecha y Hora fin estimada</p>
        <div class="row">
          <p class="card-text col-6">
            Fecha: {{ getFecha(competition.fechaHoraFinEstimada) }}
          </p>
          <p class="card-text col-6">
            Hora: {{ getHora(competition.fechaHoraFinEstimada) }}
          </p>
        </div>
        <div class="d-flex">
          <p class="card-text fw-medium">Costo de Inscripcion: &nbsp;</p>
          <p class="card-text">${{ competition.costoInscripcion }}</p>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="openModal(competition)"
        >
          Editar
        </button>
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="deleteCompetition(competition)"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
