<div class="modal-content">
  <div class="modal-header">
    <h1 class="modal-title fs-5">Nueva Inscripción</h1>
    <button
      type="button"
      class="btn-close"
      (click)="close('')"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <div class="container-sm" style="max-width: 1200px">
      <p class="text-danger">{{ errorMessage }}</p>
      <div class="d-flex justify-content-between mb-3">
        <p class="h4">Seleccione un Socio</p>
        <div class="input-group ms-1" style="max-width: 400px">
          <input
            type="text"
            class="form-control"
            aria-describedby="inputGroup-sizing-sm"
            [(ngModel)]="terminoBusqueda"
            placeholder="Buscar..."
          />
          <button
            class="btn btn-outline-secondary bi bi-search"
            (click)="getPersons(1)"
          ></button>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <ngb-pagination
          [collectionSize]="totalDocs"
          [(page)]="page"
          [pageSize]="pageSize"
          [maxSize]="5"
          [rotate]="true"
          size="sm"
          (pageChange)="getPersons($event)"
        ></ngb-pagination>
        <p class="text-body-secondary">
          Mostrando {{ pagingCounter }}-{{
            pagingCounter + personsList.length - 1
          }}
          filas de
          {{ totalDocs }}
        </p>
      </div>
      <table class="table table-hover" style="table-layout: fixed">
        <thead>
          <tr>
            <th scope="col">DNI</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col" aria-label="row actions">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr
            (click)="selectPerson(person)"
            *ngFor="let person of personsList"
            [ngClass]="{ 'table-primary': selectedPerson === person }"
          >
            <td>{{ person.dni }}</td>
            <td>{{ person.firstName }}</td>
            <td>{{ person.lastName }}</td>
            <td>
              <button class="btn btn-outline-primary me-2">
                <i class="bi bi-plus-circle"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-between">
    <div class="d-flex">
      <p>Socio seleccionado:&nbsp;</p>
      <p *ngIf="selectedPerson">
        {{ selectedPerson.firstName }} {{ selectedPerson.lastName }}
      </p>
    </div>
    <div>
      <button
        type="button"
        class="btn btn-secondary me-1"
        data-bs-dismiss="modal"
        (click)="close('')"
      >
        Cerrar
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="add()"
        [ngClass]="{ disabled: !selectedPerson }"
      >
        Guardar
      </button>
    </div>
  </div>
</div>
