<div class="container-sm" style="max-width: 1200px">
  <p class="text-danger">{{ errorMessage }}</p>
  <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap mb-3">
    <button class="btn btn-primary me-1 mb-2" (click)="openModal(voidEvento)">
      Nuevo&nbsp;Evento
    </button>
    <div class="dropdown">
      <button
        class="btn btn-outline-primary dropdown-toggle mx-sm-1"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ tipoLista }}
      </button>
      <ul class="dropdown-menu">
        <li>
          <a
            class="dropdown-item"
            role="button"
            (click)="getEventos('Próximos', 1)"
            >Próximos</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            role="button"
            (click)="getEventos('Todos', 1)"
            >Todos</a
          >
        </li>
      </ul>
    </div>
    <div class="flex-fill flex-sm-grow-0 responsive-input-group">
      <div class="input-group ms-sm-1">
        <input
          type="text"
          class="form-control"
          aria-describedby="inputGroup-sizing-sm"
          [(ngModel)]="terminoBusqueda"
          placeholder="Buscar..."
        />
        <button
          class="btn btn-outline-secondary bi bi-search"
          (click)="getEventos(tipoLista, 1)"
        ></button>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <ngb-pagination
      [collectionSize]="totalDocs"
      [(page)]="page"
      [pageSize]="pageSize"
      [maxSize]="5"
      [rotate]="true"
      size="sm"
      (pageChange)="getEventos(tipoLista, $event)"
    ></ngb-pagination>
    <p class="text-body-secondary">
      Mostrando {{ pagingCounter }}-{{ pagingCounter + eventoList.length - 1 }}
      filas de
      {{ totalDocs }}
    </p>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Descripcion</th>
          <th scope="col">Fecha Inicio</th>
          <th scope="col">Fecha Fin</th>
          <th scope="col" aria-label="row actions">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evento of eventoList">
          <td>{{ evento.description }}</td>
          <td>
            {{ this.getFecha(evento.fechaHoraIni!) }}
            {{ this.getHora(evento.fechaHoraIni!) }}
          </td>
          <td>
            {{ this.getFecha(evento.fechaHoraFin!) }}
            {{ this.getHora(evento.fechaHoraFin!) }}
          </td>
          <td class="d-flex justify-content-center flex-column flex-sm-row">
            <button
              class="btn btn-outline-primary me-0 me-sm-2 ms-auto ms-sm-0"
              (click)="openModal(evento)"
            >
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button
              class="btn btn-outline-danger my-2 my-sm-0 ms-auto ms-sm-0"
              (click)="deleteEvento(evento)"
            >
              <i class="bi bi-trash-fill"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
