<div class="container-sm" style="max-width: 1200px">
  <p class="text-danger">{{ errorMessage }}</p>
  <div class="d-flex justify-content-between">
    <button class="btn btn-primary me-1" (click)="openModal(voidEvento)">
      Nuevo&nbsp;Evento
    </button>
    <div class="dropdown">
      <button
        class="btn btn-outline-primary dropdown-toggle mx-1"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ tipoLista }}
      </button>
      <ul class="dropdown-menu">
        <li>
          <a
            class="dropdown-item"
            role="button"
            (click)="getEventos('Próximos')"
            >Próximos</a
          >
        </li>
        <li>
          <a class="dropdown-item" role="button" (click)="getEventos('Todos')"
            >Todos</a
          >
        </li>
      </ul>
    </div>
    <div class="input-group ms-1" style="max-width: 400px">
      <input
        type="text"
        class="form-control"
        aria-describedby="inputGroup-sizing-sm"
        [(ngModel)]="terminoBusqueda"
        placeholder="Buscar..."
      />
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Descripcion</th>
        <th scope="col">Fecha Inicio</th>
        <th scope="col">Fecha Fin</th>
        <th scope="col" aria-label="row actions">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let evento of eventoList | filter : terminoBusqueda">
        <td>{{ evento.description }}</td>
        <td>
          {{ this.getFecha(evento.fechaHoraIni) }}
          {{ this.getHora(evento.fechaHoraIni) }}
        </td>
        <td>
          {{ this.getFecha(evento.fechaHoraFin) }}
          {{ this.getHora(evento.fechaHoraFin) }}
        </td>
        <td class="bi bi-edit">
          <button
            class="btn btn-outline-primary me-2"
            (click)="openModal(evento)"
          >
            <i class="bi bi-pencil-fill"></i>
          </button>
          <button
            class="btn btn-outline-danger mt-2 mt-sm-0"
            (click)="deleteEvento(evento)"
          >
            <i class="bi bi-trash-fill"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
